{
    margin: 0;
    padding: 0;
}
  
  h1
  {
    color: rgb(255, 139, 139);
    text-align: center;
  }
  

  h2
  {
    color: rgb(255, 148, 148);
    text-align: left;
  }

  p 
  {
    color: rgb(255, 247, 247);
    text-align: left;
    
  }
  
  p 
  {
    font-family: verdana;
    font-size: 18px;
  }

  p2
  {
    color: rgb(53, 45, 45);
    text-align: left;
  }
  
  p2 
  {
    font-family: verdana;
    font-size: 20px;
  }

  h1 
  {
    font-family: verdana;
    font-size: 20px;
  }

  h2
  {
    font-family: verdana;
    font-size: 20px;
  }

    div0
{
    margin: 5px;
    padding: 8px;
    float: center;
   
}
    div1
{
    margin: 30px;
    padding: 5px;
    float: left;
   
}

    div2
{
    margin: 30px;
    padding: 5px;
    float: left;
   
}

*#rcorners1 {  NOT IN use
    border-radius: 15px 50px;
    background: #ff7300;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(113, 255, 231);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

 

  