ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 106, 133);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 174, 255);
  }

  h1 {
      text-align: center;
  }

  *, *::before, *::after {
      box-sizing: border-box;
      font-family:-apple-system, sans-serif;
      font-weight: normal;
  }